
body {
    background-color: rgb(250, 250, 250);
}

#account-more {
    display: flex;
}

.settings {
    margin: 12px
}

.title {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(173, 173, 173);
    font-weight: bold;
    margin: 6px 6px 6px 4px;
}

.setting-credential-container {
    padding: 14px 10px;
    border-radius: 6px;
    display: flex;
    position: relative;
}

.setting-credential-container:hover {
    background-color: rgb(235, 235, 235);
}

.setting-name {
    color: black;
}

.setting-current-data,.setting-name {
    color: black;
    font-weight: bold;
    text-decoration: none;
    width: 200px;
    margin: 0;
}

.setting-current-data {
    color: rgba(0, 0, 0, 0.644);
}

.edit-setting-data {
    color: black;
    margin-left: auto;
    padding-left: 20px;
    text-decoration: none;

    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 0 center;
    background-image: url(../images/edit-pen.png);
}

.four-pixels-margin-separator {
    margin: 0 4px;
}

.setting-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    display: none;
    margin-top: 6px;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid rgb(216, 216, 216);
}

.user-input {
    display: flex;
    margin-bottom: 12px;
    padding: 6px 12px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 4px;
    width: 50%;
}

.buttons-container {
    display: flex;
    align-items: center;
}

.setting-button {
    border: none;
    color: white;
    padding: 4px 12px;
    border-radius: 4px;
    background-color: rgb(51, 51, 51);
    cursor: pointer;
}

.cancel-button {
    font-size: 14px;
    padding: 3px 12px;
    text-decoration: none;
    color: black;
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(184, 184, 184);
}

.setting-item {
}

.setting-items-separator {
    margin: 6px 0;
    height: 1px;
    width: 100%;
    background-color: rgb(223, 223, 223);
}
