

.featured-product {
    width: 100%;
    color: white;
    height: 450px;

    background-image: linear-gradient(to right top, #050505, #080808, #0a0a0a, #0d0d0d, #0f0f0f, #0f0f0f, #0f0f0f, #0f0f0f, #0d0d0d, #0a0a0a, #080808, #050505);
    position: relative;
    
    display: flex;

}

.paging-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 20px 16px 0;

    display: flex;
}

.featured-item-paging {
    display: flex;
    width: 20px;
    height: 20px;

    margin-left: 10px;

    background-size: 16px 16px;
    background-repeat: no-repeat;
    
    background-image: url("../images/featured-page-item.png");
}

.featured-item-selected {
    background-image: url("../images/featured-page-selected.png");
}

.featured-button {
    color: white;
    font-weight: bold;
    font-size: 15px;

    border: 2px solid white;
    background-color: black;
    border-radius: 6px;

    padding: 12px 16px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.featured-info-section {
    box-sizing: border-box;
    width: 60%;
    padding-left: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-section {
    width: 40%;
    box-sizing: border-box;
}

.featured-product-image {
    height: 450px;
}

.featured-buttons-container {
    display: flex;
    margin-top: 10px;
}

.featured-product-first-title {
    margin: 6px;
    font-weight: bold;
    font-size: 16px;
}

.featured-product-second-title {
    font-size: 32px;
    margin: 0px;
}

.featured-product-description {
    line-height: 1.5;
    margin: 6px 0px;
}

.featured-product-price {
    margin: 6px 0;
    font-size: 22px;
    font-weight: bold;
}

#more-info {
    color: black;
    background-color: white;
}

#buy-now {
    margin-right: 10px;
    padding-left: 45px;

    background-image: url("../images/white-cart.png");
    background-size: 25px 25px;
    background-position: 12px center;
    background-repeat: no-repeat;
}

#buy-now:hover {
    background-color: white;
    background-image: url("../images/black-cart.png");
    color: black;
}

@media screen and (min-width: 640px) AND (max-width: 900px) {
    .featured-product {

    }
}

@media screen and (max-width: 640px) {
    .featured-product {
        
    }
}

/*.fatured-product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    padding: 55px 0 55px 0;
}

.fatured-product-global-container {
    background-color: black;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.fatured-product-container p {
    color: rgb(245, 245, 245);
}

.featured-first-title-sentence {
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    margin: 4px;
}

.featured-title {
    font-size: 35px;
    font-weight: bold;
    margin: 4px;
}

.featured-desc {
    opacity: 0.85;
    margin-top: 4px;
}

.featured-price {
    font-size: 25px;
    font-weight: bold;
    margin: 4px;
    margin-top: 0;
    margin-bottom: 10px;
}

.featured-product-background-image {
    height: 300px;
    width: 300px;
}

.featured-buy-now {
    font-size: 14px;
    font-weight: bold;

    color: white;
    text-decoration: none;
    padding: 10px 0px 10px 0px;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 8px;

    text-align: center;
    width: 120px;

    padding-left: 22px;

    background-image: url(../images/whitecart.png);
    background-position: 18px center;
    background-size: 34px 34px;
    background-repeat: no-repeat;

    transition: all 0.4s ease;
}

.featured-buy-now:hover {
    color: black;
    background-color: white;
    background-image: url(../images/fast-cart.png);
}

.featured-more-info {
    font-size: 14px;
    font-weight: bold;

    color: black;
    background-color: rgb(248, 248, 248);
    text-decoration: none;
    padding: 10px;

    border: 2px solid white;
    border-radius: 5px;

    text-align: center;
    width: 120px;

    transition: all 0.4s ease;
}

.featured-more-info:hover {
    background-color: rgb(199, 199, 199);
    border-color: rgb(199, 199, 199);
}

.arrow-container {
    width: 45px; 
    height: 45px; 
    background-color: white; 
    border: 3px solid black; 
    border-radius: 50%; 
    margin: 0 auto;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.4s ease;
}

.arrow-container:hover {
    background-color: rgb(212, 212, 212);
}

.arrow-container a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    width: 100%;
    text-align: center;

}


@media screen and (max-width: 1040px) {
    .fatured-product-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 600px;
        padding: 55px 55px 55px 55px;
    }
}*/