
.global-container {
    display: flex;
}

.left-side-panel {
    box-sizing: border-box;
    border-right: 2px solid rgb(221, 221, 221);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 260px;
    max-width: 260px;
    margin-top: 8px;
    padding: 0 14px;
    padding-bottom: 16px;

    overflow: hidden;
}

.master-section {
    width: 100%;
}


.semi-black-section-infos {
    position: fixed;

    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.8);
    z-index: 10;
}

#selected {
    box-sizing: border-box;
    width: 50%;
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: -40px;

    transition: all 0.4s ease;
}

.semi-black-section-infos .product-item {
    border-radius: 6px;
    padding: 14px;
    margin-bottom: 14px;
}

.close-semi-black-section-info {
    font-size: 26px;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    margin: 16px 22px 0 auto;
    padding: 6px 12px;
    transition: background-color 0.4s ease;
}

.close-semi-black-section-info:hover {
    background-color: gray;
}

.simple-strip-container {
    display: flex;
    align-items: center;
    background-color: rgb(14, 14, 14);
    height: 40px;
    padding-left: 4px;
    border-bottom: 1px solid rgb(59, 59, 59);
}

.simple-menu-button {
    font-size: 15px;
    text-decoration: none;
    display: flex;
    padding: 6px 12px;
    color: white;
    box-sizing: content-box;
    margin-right: 4px;
}

.simple-menu-button:hover {
    padding: 5px 11px;
    border: 1px solid white;
    border-radius: 4px;
}

.simple-menu-button-style {
    padding: 5px 11px;
    border: 1px solid white;
    border-radius: 4px;
}

#all-button {
    box-sizing: border-box;
    padding-left: 30px;
    font-size: 15px;

    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 5px center;

    background-image: url(../images/whitemenu.png);
}

#all-button:hover {
    padding: 6px 11px 6px 29px;
    background-color: white;
    color: black;
    background-image: url(../images/menu.png);
}

.back-to-results {
    font-size: 14px;
    font-weight: bold;
    color: rgb(48, 48, 48);
    text-decoration: none;
    display: flex;
    margin: 8px 4px;
}

.back-to-results:hover {
    text-decoration: underline;
}

.flex-center {
    display: flex;
    align-items: center;
}

.mandatory {
    color: rgb(233, 37, 37);    
}

.label {
    display: flex;
    margin: 6px;
}

.correct-message {
    font-size: 15px;

    margin: 8px 0;
    padding: 8px;
    padding-left: 36px;
    background-color: rgb(209, 255, 209);
    color: #004000;
    border: 1px solid #96ea96;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;

    background-image: url(../images/green-correct-check.png);
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: 6px center;
}

.invalid-message {
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;

    margin: 8px 0;
    padding: 8px 8px 8px 36px;
    
    color: #600000;
    border: 1px solid #ff9191;
    border-radius: 4px;
    
    background-color: rgb(255, 214, 214);
    background-image: url(../images/invalid.png);
    background-size: 25px 24px;
    background-repeat: no-repeat;
    background-position: 6px center;
}

.data-style {
    margin: 0;
}
