
body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color:   rgb(247, 247, 247);
}

.s-m-icon {
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 28px 28px;
    margin-right: 6px;
}

.logo {
    height: 25px;
    width: 210px;
    margin-left: 15px;
    padding-top: 4px;
}

#top-menu-strip {
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;

}

#top-nav {
    margin-left: auto;
    margin-right: 15px;
}

#top-nav ul {
    margin-left: 20px;
    padding: 0;
    padding-left: 10px;
    list-style-type: none;
    border-left: 1px solid gray;
    max-height: 50px;
}

#top-nav ul a {
    display: inline-block;
    margin-left: 10px;
    padding: 8px 0;
    text-decoration: none;
    color: rgb(53, 53, 53);
    transition: box-shadow 0.2s ease;
}

#top-nav ul a:hover {
    color: black;
    box-shadow: inset 0 -4px 0 #000000;
}

#top-nav ul a:last-child {
    box-shadow: none;
}

#top-nav ul a:last-child:hover {
    background-image: url("../images/fast-cart.png");
}

.menu-cart-button {
    background-image: url("../images/cart.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 35px 35px;
}

#my-account {
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 15px;
}

#account-picture {
    height: 25px;
    width: 25px;
    position: relative;
    top: 2px;
    border-radius: 50%;
}

#account-name {
    text-decoration: none;
    color: rgb(53, 53, 53);
    padding-left: 8px;
}

.menu-cart-button li {
    padding-left: 35px;
}

.product-search-form {
    display: flex;
    align-items: center;
}

.search-container {
    margin-left: 10px;
    flex-grow: 8;
}

.categories-dropdownlist {
    background-color:rgb(238, 238, 238) !important;
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 120px;
    font-size: 13px;
    border: 1px solid gray;
}

.search-field {
    height: 26px;
    width: 50%;
    border: none;
    background-color: rgb(230, 230, 230);
    padding-left: 8px;
    border: 1px solid gray;
    border-left: none;

    width: 100%;
}

.search-button {
    height: 30px;
    width: 70px;
    border: none;
    background-image: url("../images/graySearch.png");
    background-position: center center;
    background-repeat: no-repeat;

    background-size: 16px 16px;
    background-color: rgb(242, 242, 242);

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    width: 65px;
    border: 1px solid gray;
    border-left: none;

    cursor: pointer;
}

.search-button:hover {
    background-color: rgb(250, 250, 250);
}

#featured-product {
    height: 300px;
    background-color: black
}

#search-and-menu-container {
    display: none;
}

#top-small-device-nav, .search-mobile-container, #small-search-form, #mobile-category-dropdownlist {
    display: none;
}

.menu-button-style {
    background-size: 24px 24px;
    background-position: 26px center;
    background-repeat: no-repeat;
}

.white-home{
    background-image: url("../images/white-home.png");
}
.white-shop{
    background-image: url("../images/white-shop.png");
}
.white-account{
    background-image: url("../images/white-account.png");
}
.white-about{
    background-image: url("../images/white-about.png");
}
.white-cart{
    background-image: url("../images/white-cart.png");
}

@media screen and (min-width: 640px) and (max-width: 1024px) {

    .product-search-form {
        display: flex;
    }

    .logo {
        margin-left: 15px;
    }

    #my-account, #top-nav, #small-search-form, #mobile-category-dropdownlist {
        display: none;
    }

    .search-button {
        margin-right: 8px;
    }

    #search-and-menu-container {
        display: flex;
        margin-left: auto;
        margin-right: 6px;
    }

    .menu-top {
        background-image: url(../images/menu.png);
        padding: 2px;
        margin: 4px;
        height: 22px;
        width: 22px;
        background-size: 22px 22px;

        background-repeat: no-repeat;
        background-position: center center;

        padding-left: 18px;
        border-left: 1px solid gray;
    }

    #top-small-device-nav {
        width: 100%;
        display: block;
        height: 0px;
        margin: 0;
        padding: 0;
        background-color: black;
        border-bottom: 2px solid rgb(32, 32, 32);;
        overflow: hidden;
    }

    .menu-cart-button {
        background-image: url("../images/whitecart.png");
        background-position: 0 center;
        background-repeat: no-repeat;
        background-size: 35px 35px;
        padding-left: 20px;
        margin-left: 5px;
    }

    #top-small-device-nav ul {
        display: block;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    #top-small-device-nav ul a {
        display: block;
        color: white;
        font-size: 20px;
        padding: 20px 0px 20px 60px;
        text-decoration: none;
    }

    #top-small-device-nav ul a:hover {
        background-color: rgb(15, 15, 15);
    }
}

@media screen and (max-width: 640px) {
    #small-search-form, #mobile-category-dropdownlist {
        display: flex;
    }
    
    .logo {
        margin-top: 2px;
        height: 20px;
        width: 185px;
        margin-left: 15px;
    }

    .search-container, #my-account, #top-nav {
        display: none;
    }

    #top-menu-strip {
        height: 55px;
    }

    #search-and-menu-container {
        display: flex;
        margin-left: auto;
        margin-right: 6px;
    }

    .menu-top {
        background-image: url(../images/menu.png);
        padding: 2px;
        margin: 4px;
        height: 22px;
        width: 22px;
        background-size: 22px 22px;

        background-repeat: no-repeat;
        background-position: center center;

        padding-left: 18px;
        border-left: 1px solid rgb(194, 194, 194);
    }

    .mobile-search-top {
        background-image: url(../images/darkgraysearch.png);
        height: 22px;
        width: 22px;
        padding: 2px;
        margin: 4px;
        background-size: 22px 22px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    /* responsive menu */

    #top-small-device-nav {
        width: 100%;
        display: block;
        height: 0px;
        margin: 0;
        padding: 0;
        background-color: black;
        transition: all 0.4s ease;
        overflow: hidden;
    }

    .menu-cart-button {
        background-image: url("../images/whitecart.png");
        background-position: 0 center;
        background-repeat: no-repeat;
        background-size: 35px 35px;
        padding-left: 20px;
        margin-left: 5px;
    }

    #top-small-device-nav ul {
        display: block;
        width: 100%;
        box-sizing: border-box;
        list-style-type: none;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    #top-small-device-nav ul a {
        display: block;
        color: white;
        font-size: 20px;
        padding: 20px 0px 20px 60px;
        text-decoration: none;
    }

    #top-small-device-nav ul a:hover {
        background-color: rgb(15, 15, 15);
    }

    /*  ------- END Responsive menu ------- */

    /* Responsive search */ 

    .product-search-form {
        display: flex;
    }

    .search-mobile-container {
        box-sizing: border-box;
        background-color: white;
        width: 100%;
        padding: 10px;
        display: block;
        transition: all 0.4s ease;
        display: none;
    }

    .categories-dropdownlist {
        background-color:rgb(211, 211, 211) !important;
        height: 34px;
        width: 120px;
        margin-bottom: 8px;
        padding-left: 8px;
        font-size: 13px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: 1px solid gray;
    }

    .search-field {
        height: 30px;
        width: 50%;
        border: none;
        background-color: rgb(230, 230, 230);
        padding-left: 8px;
        border: 1px solid gray;
        flex-grow: 8;
    }
    
    .search-button {
        height: 34px;
        width: 70px;
        border: none;
        background-image: url("../images/graySearch.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-color: rgb(233, 233, 233);

        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    
        border: 1px solid gray;
        border-left: none;
    
        flex-grow: 0;

        cursor: pointer;
    }

}

