
body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color:   rgb(247, 247, 247);
}

.s-m-icon {
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 28px 28px;
    margin-right: 6px;
}

.logo {
    height: 25px;
    width: 210px;
    margin-left: 15px;
    padding-top: 4px;
}

#top-menu-strip {
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;

}

#top-nav {
    margin-left: auto;
    margin-right: 15px;
}

#top-nav ul {
    margin-left: 20px;
    padding: 0;
    padding-left: 10px;
    list-style-type: none;
    border-left: 1px solid gray;
    max-height: 50px;
}

#top-nav ul > a {
    display: inline-block;
    margin-left: 10px;
    padding: 8px 0;
    text-decoration: none;
    color: rgb(53, 53, 53);
    transition: box-shadow 0.2s ease;
}

.top-menu-btn:hover {
    color: black;
    box-shadow: inset 0 -4px 0 #000000;
}

.header-top-underline-style {
    color: black;
    box-shadow: inset 0 -4px 0 #000000;
}

.menu-cart-button:hover {
    background-image: url("../images/fast-cart.png");
    box-shadow: none;
}

.menu-cart-button {
    background-image: url("../images/cart.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 35px 35px;
}

#my-account {
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 15px;
}

#account-picture-container {
    opacity: 0;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(228, 228, 228);
    z-index: 10;
    border-radius: 6px;
    border: 2px solid gray;
    top: 40px;
    padding: 8px;
    transition: opacity 0.4s ease;
}

.close-section {
    text-decoration: none;
    color: black;
    display: flex;
    margin-left: auto;
}

#edit-profile-image {
    text-decoration: none;
    color: black;

    margin: 0 auto;
}

#edit-profile-image:hover {
    text-decoration: underline;
}

#account-image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: gray
}

#account-picture {
    height: 25px;
    width: 25px;
    position: relative;
    top: 2px;
    border-radius: 50%;
}

.account-name {
    text-decoration: none;
    color: rgb(53, 53, 53);
    padding-left: 8px;
}

.menu-cart-button li {
    padding-left: 35px;
}

.product-search-form {
    display: flex;
    align-items: center;
}

.search-container {
    margin-left: 10px;
    flex-grow: 8;
}

.categories-dropdownlist {
    background-color:rgb(238, 238, 238) !important;
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 120px;
    font-size: 13px;
    border: 1px solid gray;
}

.search-field {
    height: 26px;
    width: 50%;
    border: none;
    background-color: rgb(230, 230, 230);
    padding-left: 8px;
    border: 1px solid gray;
    border-left: none;

    width: 100%;
}

.search-button {
    height: 30px;
    width: 70px;
    border: none;
    background-image: url("../images/graySearch.png");
    background-position: center center;
    background-repeat: no-repeat;

    background-size: 16px 16px;
    background-color: rgb(242, 242, 242);

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    width: 65px;
    border: 1px solid gray;
    border-left: none;

    cursor: pointer;
}

.search-button:hover {
    background-color: rgb(250, 250, 250);
}

#featured-product {
    height: 300px;
    background-color: black
}

#search-and-menu-container {
    display: none;
}

#top-small-device-nav, .search-mobile-container, #small-search-form, #mobile-category-dropdownlist {
    display: none;
}

.menu-button-style {
    background-size: 24px 24px;
    background-position: 26px center;
    background-repeat: no-repeat;
}

.white-home{
    background-image: url("../images/white-home.png");
}
.white-shop{
    background-image: url("../images/white-shop.png");
}
.white-account{
    background-image: url("../images/white-account.png");
}
.white-about{
    background-image: url("../images/white-about.png");
}
.white-cart{
    background-image: url("../images/white-cart.png");
}

.cart-container {
    width: 240px;
    background-color: white;
    border: 1px solid rgb(189, 189, 189);
    position: absolute;
    display: none;
    flex-direction: column;
    padding: 6px;

    right: 14px;
    top: 50px;

    -webkit-box-shadow: 0 0 2px 0px rgb(82, 82, 82);
    box-shadow: 0 0 2px 0px rgb(134, 134, 134);

    z-index: 10;
    
    padding: 15px;
    border: 1px solid #dddddd;
    margin-top: 6px;
}

.close-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 100%;
    padding: 6px;
}

.cart-title {
    margin: 0;
    padding-left: 30px;
    padding-top: 6px;
    font-size: 22px;
    font-weight: bold;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 0 center;
    background-image: url(../images/basket.png);
}

#close-cart-button {
    display: flex;
    margin: 0;
    padding: 8px;
    width: 10px;
    height: 9px;
    font-size: 14px;
    padding-bottom: 9px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: rgb(122, 122, 122);
    border-radius: 50%;
    transition: all 0.4s ease;
}

#close-cart-button:hover {
    background-color: black;
}

#cart-products {
    padding-top: 12px;
    height: 220px;
    overflow-y: scroll;
}

.cart-product-item {
    padding: 8px 6px 8px 4px;
    display: flex;
    align-items: stretch;
}

#empty-message-box {
    display: none;
    padding: 10px 0;
}

.cart-product-image {
    padding: 6px;
    height: 45px;
    transition: all 0.4s ease;
}

.cart-product-image:hover {
    height: 55px;
}

.img-container {
    background-color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    flex: 0 0 55px;
}

.cart-product-info {
    margin: 0;
    padding: 0 2px 4px 4px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(24, 24, 24);
}

.delete-product-container {
    margin-left: auto;
    padding: 3px;
    flex: 0 0 8px;
}

.delete-cart-product-button {
    display: flex;
    padding: 7px;
    width: 7px;
    height: 6px;
    font-size: 10px;
    padding-bottom: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:  rgb(24, 24, 24);
    border: 1px solid rgb(24, 24, 24);
    border-radius: 50%;
    transition: all 0.4s ease;
}

.delete-cart-product-button:hover {
    color:  white;
    background-color: rgb(24, 24, 24);
}

.gray-font {
    color: rgb(153, 153, 153);
    font-weight: 400;
}


/*  --------------------------------------------- */
.cart-container:before, .cart-container:after {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 19px;
    border: 8px solid transparent;
    border-bottom-color: #929292;
  }
  
  .cart-container:after {
    right: 20px;
    border: 7px solid transparent;
    border-bottom-color: #ffffff;
  }
/*  --------------------------------------------- */

#sub-total {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    text-align: center
}

.cart-button {
    display: block;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 8px 0;
    color: black;
    background-color: white;
    border: 2px solid black;
    margin-bottom: 6px;

    transition: all 0.4s ease;
}

.cart-button:hover {
    background-color: black;
    color: white;
}

#remaining-cart-info {
    display: none;
}

@media screen and (min-width: 640px) and (max-width: 1024px) {

    .product-search-form {
        display: flex;
    }

    .logo {
        margin-left: 15px;
    }

    #my-account, #top-nav, #small-search-form, #mobile-category-dropdownlist {
        display: none;
    }

    .search-button {
        margin-right: 8px;
    }

    #search-and-menu-container {
        display: flex;
        margin-left: auto;
        margin-right: 6px;
    }

    .menu-top {
        background-image: url(../images/menu.png);
        padding: 2px;
        margin: 4px;
        height: 22px;
        width: 22px;
        background-size: 22px 22px;

        background-repeat: no-repeat;
        background-position: center center;

        padding-left: 18px;
        border-left: 1px solid gray;
    }

    #top-small-device-nav {
        width: 100%;
        display: block;
        height: 0px;
        margin: 0;
        padding: 0;
        background-color: black;
        overflow: hidden;
    }

    .menu-cart-button {
        background-image: url("../images/whitecart.png");
        background-position: 0 center;
        background-repeat: no-repeat;
        background-size: 35px 35px;
        padding-left: 20px;
        margin-left: 5px;
    }

    #top-small-device-nav ul {
        display: block;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    #top-small-device-nav ul a {
        display: block;
        color: white;
        font-size: 20px;
        padding: 20px 0px 20px 60px;
        text-decoration: none;
    }

    #top-small-device-nav ul a:hover {
        background-color: rgb(15, 15, 15);
    }
}

@media screen and (max-width: 640px) {
    #small-search-form, #mobile-category-dropdownlist {
        display: flex;
    }
    
    .logo {
        margin-top: 2px;
        height: 20px;
        width: 185px;
        margin-left: 15px;
    }

    .search-container, #my-account, #top-nav {
        display: none;
    }

    #top-menu-strip {
        height: 55px;
    }

    #search-and-menu-container {
        display: flex;
        margin-left: auto;
        margin-right: 6px;
    }

    .menu-top {
        background-image: url(../images/menu.png);
        padding: 2px;
        margin: 4px;
        height: 22px;
        width: 22px;
        background-size: 22px 22px;

        background-repeat: no-repeat;
        background-position: center center;

        padding-left: 18px;
        border-left: 1px solid rgb(194, 194, 194);
    }

    .mobile-search-top {
        background-image: url(../images/darkgraysearch.png);
        height: 22px;
        width: 22px;
        padding: 2px;
        margin: 4px;
        background-size: 22px 22px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    /* responsive menu */

    #top-small-device-nav {
        width: 100%;
        display: block;
        height: 0px;
        margin: 0;
        padding: 0;
        background-color: black;
        transition: all 0.4s ease;
        overflow: hidden;
    }

    .menu-cart-button {
        background-image: url("../images/whitecart.png");
        background-position: 0 center;
        background-repeat: no-repeat;
        background-size: 35px 35px;
        padding-left: 20px;
        margin-left: 5px;
    }

    #top-small-device-nav ul {
        display: block;
        width: 100%;
        box-sizing: border-box;
        list-style-type: none;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    #top-small-device-nav ul a {
        display: block;
        color: white;
        font-size: 20px;
        padding: 20px 0px 20px 60px;
        text-decoration: none;
    }

    #top-small-device-nav ul a:hover {
        background-color: rgb(15, 15, 15);
    }

    /*  ------- END Responsive menu ------- */

    /* Responsive search */ 

    .product-search-form {
        display: flex;
    }

    .search-mobile-container {
        box-sizing: border-box;
        background-color: white;
        width: 100%;
        padding: 10px;
        display: block;
        transition: all 0.4s ease;
        display: none;
    }

    .categories-dropdownlist {
        background-color:rgb(211, 211, 211) !important;
        height: 34px;
        width: 120px;
        margin-bottom: 8px;
        padding-left: 8px;
        font-size: 13px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: 1px solid gray;
    }

    .search-field {
        height: 30px;
        width: 50%;
        border: none;
        background-color: rgb(230, 230, 230);
        padding-left: 8px;
        border: 1px solid gray;
        flex-grow: 8;
    }
    
    .search-button {
        height: 34px;
        width: 70px;
        border: none;
        background-image: url("../images/graySearch.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-color: rgb(233, 233, 233);

        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    
        border: 1px solid gray;
        border-left: none;
    
        flex-grow: 0;

        cursor: pointer;
    }

}

