.our-services-containers {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 14px;
}

.our-services-containers img {
    height: 65px;
    width: 65px;
}

.service-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin-left: 6px;
    padding: 8px 16px;

    border-right: 1px solid gray;
}

.service-item:last-child {
    border-right: none;
}

.service-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.service-description {
    text-align: center;
    margin-top: 0;
    font-size: 14px;
}

.best-seller-product {
    display: flex;
    flex-direction: column;
    width: 240px;
    padding: 4px;
    margin-right: 8px;
    
    background-color: rgb(224, 224, 224);
}

.best-seller-product img {
    width: 180px;
    padding: 10px;
    height: 180px;
    margin: 0 auto;
}

.b-s-product-category {
    margin-bottom: 4px;
    font-size: 13px;
    text-align: center;
}

.b-s-product-name {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.b-s-product-price {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin: 2px 0;
}

.b-s-product-discount {
    font-weight: 400;
    text-decoration: line-through;
    color: gray;
    margin-right: 6px;
    opacity: 0.85;
}

.b-s-product-add-to-cart {
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.best-sellers-container {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.best-seller-global {
    display: flex;
    align-items: center;
    justify-content: center;
}

.next, .prev {
    
}

.b-s-product-previous, .b-s-product-next {
    height: 100px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: 15px 25px;
    background-position: 0 center;
}

.b-s-product-next {
    background-image: url(../images/next.png);
}
.b-s-product-previous {
    background-image: url(../images/previous.png);
}