.center-it {
    margin: 0 auto;
}

.our-services-containers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.best-seller-title {
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
    margin: 8px 0 8px 0;
}

.our-services-containers img {
    height: 65px;
    width: 65px;
}

.service-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    margin-left: 6px;
    padding: 8px 16px;
}

.service-title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 5px;
}

.service-description {
    text-align: center;
    margin-top: 0;
    font-size: 15px;
}

.products-by-category-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.category-products {
    height: 500px;
    width: 30%;
    margin-right: 30px;
    background-color: gray;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.category-products:last-child {
    margin-right: 0;
}

.category-products-image {
    z-index: 0;
    display: flex;
    height: 100%;
    transition: all 16s ease;
}

.category-products:hover .category-products-image {
    transform:scale(1.5);
    -ms-transform:scale(1.5); /* IE 9 */
    -moz-transform:scale(1.5); /* Firefox */
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -o-transform:scale(1.5); /* Opera */
}

.transparent-gradient-bottom {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0px;
}

.gradient-image {
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 240px;
}

.products-by-category-info {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 0;

    padding-left: 30px;
    padding-right: 30px;
    
    bottom: 0;
    z-index: 2;
}

.pbc-light-title {
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 0 0 4px 8px;
}

.pbc-big-title {
    color: white;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 4px 0 12px 8px;
}

.product-by-category-buy {
    padding: 10px 16px;
    color: white;
    border: 2px solid white;
    display: block;
    width: 45%;
    text-align: center;
    font-weight: bold;
    margin: 12px 0 18px 12px;

    text-decoration: none;
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

.product-by-category-buy:hover {
    width: 45%;
    background-color: white;
    color: black;
}



@media screen and (min-width: 480px) and (max-width: 900px) {
    
}

@media screen and (max-width: 480px) {
    
}
