
.all-products-container {
    padding: 14px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.line-separator {
    margin: 16px 0 6px 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(206,206,206,1) 50%, rgba(255,255,255,1) 100%);
}

.product-item {
    margin: 12px;
    height: 385px;
    width: 260px;
    background-color: white;
    border: 1px solid rgb(218, 218, 218);

    position: relative;
    border-radius: 4px;
    padding-top: 20px;
}

.product-info-container {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-like {
    height: 25px;
}

.product-like-container {
    position: absolute;
    top: 4px;
    right: 8px;
    height: 12px;
    display: flex;
}

.discount-part {
    position: absolute;
    top: 4px;
    height: 12px;
    
    background-color: rgb(47, 173, 102);
    color: white;
    padding: 6px;
    padding-right: 12px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 800;
    
    border-top-right-radius: 4px;
    border-bottom-right-radius: 28px;
}

.product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 170px;
    margin: 15px 0 6px 0;
    /*background-color: rgb(225, 247, 255);*/
    padding-bottom: 6px;
}

.product-image {
    display: block;
    height: 150px;
    transition: all 0.4s ease;
}

.product-image:hover {
    height: 180px;
}

.line-underneath {
    width: 80%;
    height: 1px;
    margin: 0 auto;
    padding: 0;
    border: 0;
    background-color: rgb(207, 207, 207);
}

.product-category {
    font-size: 14px;
    margin: 4px 0 6px 0;
}

.product-name {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}

.product-price {
    font-family: Helvetica;
    margin: 6px 0;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
    color: rgb(32, 103, 255);
}

.discounted-price {
    color: gray;
    text-decoration: line-through;
    margin-left: 8px;
    font-size: 18px;
}

.product-add-to-cart {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;

    background-color: rgb(44, 106, 240);
    border-radius: 6px;
    padding: 8px 50px;
    padding-left: 70px;
    display: block;
    margin-top: 6px;
    width: 100%;
    box-sizing: border-box;

    background-image: url(../images/white-cart.png);
    background-size: 18px 18px;
    background-position: 40px center;
    background-repeat: no-repeat;
}

.product-add-to-cart:hover {
    background-color: rgb(34, 87, 202);
}

.rate-container {
    height: 20px;
    margin-right: auto;
}

.rate-stars-container {
    height: 20px;
    z-index: 2;
}

.rate-color-container {
    position: absolute;
    height: 20px;
    /* 105 is 100% */
    width: 105px;
    z-index: 0;
    background-color: rgb(254, 193, 7);
}

.product-number-of-rates {
    margin: 0;
    margin-left: 8px;

    color: gray;
    font-size: 14px;


}

.rate-section {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: auto;

    margin-bottom: 4px;
}