
.search-strip-after-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 16px;

    background-color: rgb(31, 31, 31);
}

.search-result-text, .search-top-strip-label {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

#sorting {
    background-color: white;
    padding: 4px;
    color: black;
    border: none;

    border-radius: 5px;
}

.left-pannel-section-title {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 4px 4px 4px;
}

.departments-container, .sub-container-item-links, .rating-options-container, .price-container {
    padding-left: 4px;
    display: flex;
    flex-direction: column;
}

.container-item-link {
    text-decoration: none;
    color: rgb(39, 39, 39);
    font-family: Verdana, Geneva, sans-serif;
    margin-bottom: 6px;
    font-size: 14px;
}

.sub-container-item-links {
    padding-left: 10px;
}

.container-item-link:hover {
    color: black;
    margin-bottom: 6px;
    font-size: 14px;
}

.rating-item {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 2px 0px 2px 90px;
    margin-bottom: 4px;

    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 85px 15px;
}

.rating-item:hover {
    color: darkorange;
}

#rating-4-and-up {
    background-image: url(../images/ratings/rate4.png);
}
#rating-3-and-up {
    background-image: url(../images/ratings/rate3.png);
}
#rating-2-and-up {
    background-image: url(../images/ratings/rate2.png);
}
#rating-1-and-up {
    background-image: url(../images/ratings/rate1.png);
}

.min-max-form, #availability-form {
    display: flex;
    align-items: center;
    padding: 4px 0;
}

.min, .max {
    width: 60px;
    padding: 6px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.min-max-go {
    padding: 5px 5px;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
    font-weight: bold;
    transition: all 0.4s ease;

    cursor: pointer;
}

.min-max-go:hover {
    background-color: rgb(204, 204, 204);
}

#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    width: 240px;
}

.shop-res-title {
    margin: 10px 0 4px 10px;
}

.shop-res-phrase {
    margin: 4px 10px;
}

#selected {
    display: flex;
    align-items: center;
}

.selected-product-picture {
    height: 320px;
    background-color: rgb(202, 202, 202);
}

.all-info-container {
    display: flex;
    align-items: flex-start;
}

.product-assets-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60px;
    border-right: 1px solid rgb(212, 212, 212);
    padding: 0 14px;
    margin-right: 6px;
}

.product-asset-container {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid rgb(129, 129, 129);
    padding: 6px;
    border-radius: 3px;
}

.product-image-style {
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}

.product-video-asset {
    height: 40px;
    width: 40px;
}

.asset-demo {
    width: 400px;
    height: 400px;
    max-width: 400px;
    margin-left: 12px;
}

#image-demo {
    max-width: 400px;
    display: flex;
}

#video-entity {
    background-color: black;
    height: 400px;
    width: 400px;
    display: none;
}

.text-infos {
    padding: 10px;
    width: 500px;
}

.text-info-name {
    font-size: 24px;
    margin: 0 0;
}

.normal-text {
    margin: 2px 0;
    font-size: 16px;
}

.text-info-author {
    text-decoration: none;
    color: rgb(34, 34, 34);
    font-weight: bold;
}

.text-label {
    color: rgb(83, 83, 83);
    font-size: 15px;
}

.rate-section {
    margin-top: 8px;
}

.product-number-of-rates {
    margin-left: 10px;
}

.text-info-price {
    font-size: 28px;
    font-weight: bold;
}

.cart-section {
    border-radius: 5px;
    border: 1px solid rgb(189, 189, 189);
    padding: 8px;
    width: 300px;
}

.in-stock {
    color: rgb(30, 167, 30);
    margin: 4px;
    font-size: 20px;
    font-weight: bold;
}

.buy-product-button {
    text-align: center;
    padding: 6px 12px;
    margin: 6px 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 1px 0px rgb(0, 0, 0);
    box-shadow: 0 0 1px 0px rgb(0, 0, 0);
}

.cart-button {
    display: block;
    padding: 8px 0;
    background-position: 8px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    margin-bottom: 10px;
}

#zoomed-image-container {
    display: none;
    justify-content: center;
    height: 450px;
    width: 650px;
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: rgb(189, 189, 189);
    border-radius: 6px;
}

#zoomed-image {
    display: block;
    height: 450px;
    width: 450px;
    background-color: darkgoldenrod;
}

#image-bck{
    position:absolute;
    display: none;
    height: 100px;
    width: 100px;
}