
.left-side-pannel-options-container {
    width: 290px;
    height: 100%;
}

.pannel-option {
    display: flex;
    flex-direction: column;
}

.panel-button-related-items-container {
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgb(99, 99, 99);
}

.admin-panel-global-button {
    padding: 18px 0px 18px 22px;
    background-color: rgb(235, 235, 235);
    border-bottom: 1px solid rgb(212, 212, 212);
    box-sizing: border-box;
    width: 100%;
    padding-left: 45px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 18px center;
}

.admin-panel-button {
    padding: 8px 0px 8px 0;
    background-color: rgb(207, 207, 207);
    box-sizing: border-box;
    width: 100%;
    padding-left: 58px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid rgb(187, 187, 187);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 28px center;
}

.global-button-without-suboptions {
    display: flex;
    flex-direction: column;
}

.admin-panel-global-button:hover, .admin-panel-button:hover {
    background-color: rgb(248, 248, 248);
}

#products-management {
    background-image: url(../assets/icons/product-management.png);
}
#category-management {
    background-image: url(../assets/icons/categories.png);
}
#shippers-management {
    background-image: url(../assets/icons/shippers.png);
}

.add-item {
    background-image: url(../assets/icons/add-product.png);
}
.edit-item {
    background-image: url(../assets/icons/edit-product.png);
}
.delete-item {
    background-image: url(../assets/icons/delete.png);
}
.manage {
    background-image: url(../assets/icons/manage.webp);   
}
.select-item {
    background-image: url(../assets/icons/retrieve.png);
}

.admin-main-layout {
    padding: 10px;
}
#dashboard-button {
    background-image: url(../assets/icons/dashboard.png);
}

#credit-card-management-button {
    background-image: url(../assets/icons/credit-card-type-manag.png);
}

#suppliers-management {
    background-image: url(../assets/icons/supplier-icon.png);
}

#payment-management {
    background-image: url(../assets/icons/payment.png);
}

#payment-types-management-button {
    background-image: url(../assets/icons/payment.png);
}

.panel-button-related-items-container {
    display: none;
}

.selected-option {
    background-color: rgb(248, 248, 248);
}