#cat_picture {
    display: block;
    margin: 10px 0;
}

.active-inactive-container {
    margin: 6px 0px 10px 5px;
}

#cat-picture-demo {
    height: 200px;
    width: 200px;
}

#available-categories-container {
    margin-left: 35px;
    padding: 12px;
    height: 400px;
    overflow-y: scroll;
}

#add-cat-container {
    width: 400px;
    border-right: 1px solid gray;
}

.styled-form-input {
    width: 350px;
}

.cat-picture {
    width: 80px;
    height: 80px;
}

.category-item {
    display: flex;
    align-items: center;
}

.cat-title, .cat-desc, .cat-status {
    margin: 6px;
}

.cat-title, .cat-desc, .cat-status {
    margin-left: 12px;
}