#cat_picture {
    display: block;
    margin: 10px 0;
}

.active-inactive-container {
    margin: 6px 0px 10px 5px;
}

#cat-picture-demo {
    height: 200px;
    width: 200px;
}

#select-old-image {
    text-decoration: none;
    color: rgb(25, 87, 219)
}

#available-categories-container {
    margin-left: 35px;
    padding: 12px;
    width: 500px;
}

#add-cat-container {
    width: 350px;
    padding-right: 16px;
}

.styled-form-input {
    width: 350px;
}

.cat-picture {
    width: 60px;
    height: 60px;
}

.cats-container {
    border-left: 1px solid gray;
    padding-left: 16px;
    max-height: 400px; 
    overflow-y: scroll;
}

.category-item {
    display: flex;
    align-items: center;
}

.center-it {
    text-align: center;
}

.cat-title, .cat-desc, .cat-status {
    margin: 6px;
}

.cat-title, .cat-desc, .cat-status {
    margin-left: 12px;
}

.edit-button {
    text-decoration: none;
    color: rgb(25, 73, 230);
}