.styled-form-button {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 4px;
    text-align: center;
    padding: 12px;
    display: block;
    transition: all 0.4s ease;
}

.styled-form-input {
    box-sizing: border-box;
    padding: 8px 10px;
    margin: 5px auto 12px 0;
    width: 300px;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    display: block;
    transition: all 0.4s ease;
}

.styled-form-input:focus {
    -webkit-box-shadow: 0px 0px 6px 0px #919191; 
    box-shadow: 0px 0px 4px 0px #777777;
    border-radius: 4px;
}

.styled-form-button:hover {
    background-color: rgb(85, 85, 85);
    border: 1px solid rgb(85, 85, 85);
    color: white;
    cursor: pointer;
}

.styled-button {
    background-color: rgb(85, 85, 85);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.4s ease;
    padding: 12px 16px;
}

.styled-button:hover {
    background-color: rgb(58, 58, 58);
}

.invalid-credential {
    margin-left: 10px;
    color: rgb(207, 58, 58);
}

.form-dropDown {
    box-sizing: border-box;
    padding: 8px 10px;
    margin: 5px auto 12px 0;
    width: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    display: block;
    transition: all 0.4s ease;
}

#decimal-err {
    display: none;
}

.search-field {
    box-sizing: border-box;
    padding: 8px;
    padding-left: 12px;
    width: 350px;
    background-color: rgb(248, 248, 248);
    border: 1px solid gray;
    border-right: none;
}

.search-button {
    background-color: rgb(207, 207, 207);
    padding: 8px;
    padding-left: 24px;
    border: 1px solid gray;
    width: 80px;
    cursor: pointer;
    transition: all 0.4s ease;

    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 4px center;
    background-image: url(../assets/icons/retrieve.png);
}

.search-button:hover {
    background-color: rgb(243, 243, 243);
}

.basic-dropdownlist {
    padding: 4px 8px;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(161, 161, 161);
}

.basic-label {
    margin: 4px 6px 4px 0;
    font-size: 14px;
    font-weight: bold;
}

.basic-button {
    background-color: rgb(207, 207, 207);
    padding: 4px;
    border: 1px solid gray;
    width: 40px;
    cursor: pointer;
    text-align: center;
    transition: all 0.4s ease;
}

.basic-button:hover {
    background-color: rgb(235, 235, 235);
}