
.admin-global-layout {
    display: flex;
    width: 100%;
}

.main-layout-title {
    margin: 10px 0;
    font-size: 24px;
}

.admin-main-layout {
    padding-left: 25px;
    flex-grow: 3;
}

.left-side-pannel-options-container {
    width: 280px;
}

.flex-center {
    display: flex;
    align-items: center;
}

.supplier-company-logo {
    height: 30px;
    width: 30px;
}

.link-label-button {
    text-decoration: none;
    color: rgb(27, 27, 27);

    font-size: 14px;
    font-weight: bold;
    margin-left: auto;

    background-repeat: no-repeat;
}

.currency-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 16px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    align-items: center;
}

.para {
    font-size: 14px;
    margin-bottom: 6px;
}