
.admin-global-layout {
    display: flex;
    width: 100%;
}

.main-layout-title {
    margin: 10px 0;
    font-size: 24px;
}

.admin-main-layout {
    display: flex;
    padding-left: 25px;
}

.left-side-pannel-options-container {
    width: 280px;
}
