#add-sup-link {
    padding-right: 20px;
    background-size: 16px 16px;
    background-position: right center;
    background-image: url(../assets/icons/go.png);
}

#add-sup-link:hover {
    background-image: url(../assets/icons/go1.png);
}

.product-item {
    width: 220px;
    background-color: rgb(216, 216, 216);
    border: 1px solid rgb(197, 197, 197);
    padding: 6px;
    display: flex;
    flex-direction: column;
    margin: 8px;

    transition: background-color 0.4s ease;
}

.product-item:hover {
    background-color: rgb(236, 236, 236);
}

.product-item:hover .product-img {
    height: 190px;
    padding: 2px;
}

.product-img {
    height: 180px;
    max-width: 180px;
    padding: 12px;
    margin: 0 auto;
    margin-top: 10px;
    transition: all 0.4s ease;
}

#products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 10px;
    background-color: rgb(231, 231, 231);
}

.product-label {
    padding: 3px;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 4px 2px 4px;
}

.product-name {
    margin: 8px 4px 2px 4px;
    border-bottom: 1px solid rgb(165, 165, 165);
    padding-bottom: 8px;
}

.original-price {
    color: rgb(90, 90, 90);
    text-decoration: line-through;
    padding-right: 6px;
    font-size: 18px;
}

.product-data-label {
    font-weight: 400;
    font-size: 15px;
}

.available {
    color: rgb(28, 150, 64);
    font-weight: bold;
}

.not-available {
    color: rgb(223, 51, 51);
    font-weight: bold;
}

#man-product {
    text-decoration: none;
    color: rgb(26, 26, 26);
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    margin-right: 6px;

    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 0 center;
    background-image: url(../assets/icons/manage.webp);
}

.category-filter {
    margin: 0px 6px;
}

.text-field {
    padding: 4px 6px;
    font-size: 14px;
    margin-right: 6px;
}

.min-max {
    width: 50px;
    border: 1px solid gray;
}