#add-sup-link {
    padding-right: 20px;
    background-size: 16px 16px;
    background-position: right center;
    background-image: url(../assets/icons/go.png);
}

#add-sup-link:hover {
    background-image: url(../assets/icons/go1.png);
}

.product-item {
    width: 220px;
    background-color: rgb(216, 216, 216);
    border: 2px solid rgb(197, 197, 197);
    padding: 6px;
    display: flex;
    flex-direction: column;
    margin: 8px;

    transition: background-color 0.4s ease;
}

.product-item:hover {
    background-color: rgb(236, 236, 236);
}

.product-item:hover .product-img {
    height: 190px;
    padding: 2px;
}

.product-img {
    height: 180px;
    max-width: 180px;
    padding: 12px;
    margin: 0 auto;
    margin-top: 10px;
    transition: all 0.4s ease;
}

#products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 10px;
    background-color: rgb(231, 231, 231);
}

.product-label {
    padding: 3px;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 4px 2px 4px;
}

.product-name {
    margin: 8px 4px 2px 4px;
    border-bottom: 1px solid rgb(165, 165, 165);
    padding-bottom: 8px;
    font-size: 17px;
}

.original-price {
    color: rgb(90, 90, 90);
    text-decoration: line-through;
    padding-right: 6px;
    font-size: 18px;
}

.product-data-label {
    font-weight: 400;
    font-size: 15px;
}

.available {
    color: rgb(28, 150, 64);
    font-weight: bold;
}

.not-available {
    color: rgb(223, 51, 51);
    font-weight: bold;
}

#man-product {
    text-decoration: none;
    color: rgb(26, 26, 26);
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
    margin-right: 6px;

    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 0 center;
    background-image: url(../assets/icons/manage.webp);
}

.result-title {
    font-weight: bold;
    margin: 8px 8px 12px 0px;
}

.category-filter {
    margin: 0px 6px;
}

.text-field {
    padding: 4px 6px;
    font-size: 14px;
    margin-right: 6px;
}

.min-max {
    width: 50px;
    border: 1px solid gray;
}

#selected {
    transition: all 0.4s ease;
}

.semi-black-section-infos {
    position: fixed;

    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.8);
    z-index: 10;
}

.semi-black-section-infos .product-item {
    overflow-y: scroll;
    border-radius: 6px;
    padding: 14px;
    margin-bottom: 14px;
}

.close-semi-black-section-info {
    font-size: 26px;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    margin: 16px 22px 0 0;
    padding: 6px 12px;

    margin-left: auto;
    transition: background-color 0.4s ease;
}

.close-semi-black-section-info:hover {
    background-color: gray;
}

.prod-title {
    font-size: 22px;
    font-weight: bold;
    margin: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(182, 182, 182);
}

.selected-product-label {
    font-weight: 400;
    font-size: 15px;
    margin: 4px;
}

.prod-picture {
    height: 250px;
}

.product-info-button {
    text-decoration: none;
    color: rgb(32, 32, 32);

    padding-left: 20px;
    margin-bottom: 6px;
    
    font-size: 15px;
    font-weight: 600;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 0 center;
}

.product-info-button:hover {
    text-decoration: underline;
}

#edit-product {
    background-image: url(../assets/icons/edit-product.png);
}
#delete-product {
    background-image: url(../assets/icons/delete.png);
}
#analyse-product {
    background-image: url(../assets/icons/retrieve.png);
}

.selected-product-operation-container {
    padding-top: 20px;
    padding-left: 10px;
    display: flex; 
    flex-direction: column;
}