.existing-shippers {
    padding-left: 24px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid rgb(109, 109, 109);
}

th, td {
    padding: 8px 16px;
}

th {
    background-color: gray;
    color: white;
}