body, html {
    height: 100%;
}

.supplier-label {
    margin: 0;
    margin: 6px;
}

.supplier-info-button {
    text-decoration: none;
    color: rgb(32, 32, 32);

    font-size: 14px;
    font-weight: 600;
}

.supplier-info-button:hover {
    text-decoration: underline;
}

.supplier-info-buttons-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: auto;
}

.supplier-item {
    border: 2px solid rgb(197, 197, 197);
    padding: 12px;
    width: 270px;
    background-color: rgb(228, 228, 228);
    margin: 6px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: background-color 0.5s ease;
}

.supplier-item:hover {
    background-color: rgb(250, 250, 250);
}

.suppliers-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}

#supplier-infos {
    position: fixed;

    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.8);
    z-index: 10;
}

#selected {
    transition: all 0.4s ease;
}

#refresh {
    margin-right: 12px;
    padding-left: 25px;
    text-decoration: none;

    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 0 center;
    background-image: url(../assets/icons/refresh.png);
}

#refresh:hover {
    background-image: url(../assets/icons/refresh-rotated.png);
}

#close-supplier-infos {
    font-size: 26px;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    margin: 16px 22px 0 0;
    padding: 6px 12px;

    margin-left: auto;
    transition: background-color 0.4s ease;
}

#close-supplier-infos:hover {
    background-color: gray;
}

.sup-title {
    font-size: 18px;
    text-align: center;
    color: rgb(20, 20, 20);
    font-weight: bold;
    margin-top: 2px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgb(165, 165, 165);
}